.commentFormGroup {
    width: 300px;

    input {
        max-width: 300px;
        min-width: 200px;
        width: 80%;
        display: inline-block;
        padding: 5px;
    }

}

#comments-error {
    color: red;
    padding: 10px;
    margin-top: 10px;
}

.replyInputs {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding:5px;
}


.comments {
    width: 100%;
    display: flex;
    flex-direction: column;

    li {
        min-width: 250px;
        .btn-group {
            padding:5px;
        }
    }

    .commentContainer {
        border-bottom: #ddd 1px solid;
        padding: 5px;

        .likesContainer {
            padding: 0 10px;
            font-size: 12px;
            font-weight: bold;
            .likes {
                display: inline-block;
            }
        }
    }

    .replyContainer {
        margin-left: 50px;
    }

    .alignLeft {
        text-align: left;
    } 
}

.text {
    padding:0 10px;
}

.commentBtns {
    border: none;
    background-color: white;
    color: gray;
    font-size: 10px;
    font-weight: bold;
    &:hover {
        opacity: 0.5;
    }
}

.commentBtnGroup {
    justify-content: flex-start !important;
}

.commentNames {
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
}

.repliesLabel {
    width: 100px;
    border: none;
    background-color: lightgray;
    font-size: 12px;
    font-weight: bold;

    &:hover {
        opacity: 0.5;
    }
}

.repliesLabel {
    margin-bottom: 5px;
}

@media screen and (max-width: 320px) {

    .alignLeft {
        margin-left: 10px;
    }

    .replyContainer {
            margin-left: 30px !important;
        }
    .commentBtnGroup {
        margin-left: 10px;
    }

}