@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}


ul {
    padding: 0px;
}

.hideModal {
    display: none !important;
}


#formContainer {
    width: 80%;
    margin: 0 auto;

    .btn {
        font-weight: bold;
    }

    .addBlogForm {

        padding: 10px;
        background-color: rgba(255, 255, 255, 1);

        textarea, input {
            border: 1px solid #ddd;
            padding:5px;
            margin:5px;
            width: 100%;
        }

        textarea {
            resize: none;
            outline: none;
            height: 300px;
        }
    }
}


@media screen and (max-width:480px){
    #formContainer {
        width: 100% !important;
    }
    textarea {
        height: 150px !important;
    }
}