@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

.hideModal {
    display: none !important;
}


#formContainer {
    position: fixed;
    z-index: 10000000;
    @include center();
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);

    .addBlogForm {
        @include center();
        justify-content: flex-start;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 80%;
        width: 80%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 1);

        span {
            align-self: flex-end;
            padding: 10px;
            cursor:pointer;
        }

        textarea, input {
            border: 1px solid #ddd;
            padding:5px;
            margin:5px;
            max-width: 400px;
            width: 90%;
        }

        textarea {
            resize: none;
            outline: none;
            height: 60%;
            min-height: 100px;
        }
    }
}
