ul {
    padding: 0px;
}

.addBlogForm {
    h4 {
        font-weight: bold;
    }
}

.form-group {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.msg {
    font-weight:bold;
    font-size: 13px;
}