#blogDetail {
    padding: 40px;
}

.commentFormGroup {
    width: 300px;

    input {
        max-width: 300px;
        min-width: 200px;
        width: 80%;
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

}

.badge {
    background-color: #337ab7;
    margin: 5px;
}

.badgesContainer {
    div {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
    }
}

.clickable {
    cursor: pointer;
    &:hover {
        opacity:0.8;
    }
}

li {
    list-style: none;
}


.item-desc {
    padding: 20px;
}

.blogItemDate, .blogItemName {
    align-self: flex-end;
}

.blogItemName {
    font-size: 18px;
}

.btn-group {
    margin: 0 auto;
    padding: 20px;
    .btn {
        font-weight: bold;
    }
}

.comments {
    width: 80%;
    display: flex;
    flex-direction: column;

    li {
        width: 100%;
        min-width: 250px;
        align-self:center;
    }
}

.blogPostItems {
    width: 80%;
    display: flex;
    flex-direction: column;
}


.bottomBorder {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.goBackBtn {
    position: absolute;
    right: 30px;
    top: 0px;
    z-index: 1000000;
}
