#blogDetail {
    padding: 40px;
}



.badge {
    background-color: #337ab7;
    margin: 5px;
}

.badgesContainer {
    div {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
    }
}

.clickable {
    cursor: pointer;
    &:hover {
        opacity:0.8;
    }
}

li {
    list-style: none;
}


.item-desc {
    padding: 20px;
}

.blogItemDate, .blogItemName {
    align-self: flex-end;
}

.blogItemName {
    font-size: 18px;
}

.btn-group {
    display:flex;
    justify-content: center;
    padding: 20px;
    .btn {
        font-weight: bold;
    }
}

.bottomBorder {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.goBackBtn {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 1000000;
}
