<button ui-sref="blog" class='glyphicon glyphicon-chevron-left goBackBtn btn btn-primary'></button>
<div class = 'main'>
    <div class="blogPostItem">{{$ctrl.item.id}}</div>
    <div class="blogPostItem">{{$ctrl.item.title}}</div>
    <div class="blogPostItem lastItem">{{$ctrl.item.description}}</div>
    <h3>Comments</h3>
    <ul class ="comments">
        <li ng-repeat = 'comment in $ctrl.item.comments'>{{comment.text}}               
        <button message = "Are you sure?" confirmed-click='$ctrl.deleteComment($index)' type="button" class="close" confirm>&times;</button>
        </li>
    </ul>
    <form name = 'addCommentForm' novalidate ng-submit='addCommentForm.$valid && $ctrl.addComment()'>
        <div class="form-group commentFormGroup"
         ng-class = "{
           'has-success has-feedback' : (addCommentForm.comment.$dirty || addCommentForm.$submitted) && addCommentForm.comment.$valid,
           'has-error has-feedback' : (addCommentForm.comment.$dirty || addCommentForm.$submitted) && addCommentForm.comment.$invalid
         }"
        >
            <input placeholder="write a comment..." class = 'form-control' name = 'comment' type='text' ng-model='$ctrl.comment.text' required></input>
            <span class="glyphicon form-control-feedback"
            ng-class = " {
              'glyphicon-ok': (addCommentForm.comment.$dirty || addCommentForm.$submitted) && addCommentForm.comment.$valid,
              'glyphicon-remove': (addCommentForm.comment.$dirty || addCommentForm.$submitted) && addCommentForm.comment.$invalid
            }"
            />
        </div>
    </form>
</div>