.commentFormGroup {
    width: 300px;

    input {
        width: 300px;
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

}

li {
    list-style: none;
}
