@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

/* styles in src/style directory are applied to the whole page */
body {
  display:block !important; /*prevents flash of unstyled content when ng-cloak not working*/
}

.hide {
    display: none;
}

body,html, app, .mainContainer {
  word-break: break-all;
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 100%;
}

html {
  overflow-y: hidden;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
} //makes sure html + body height: 100% covers the whole height


a {
  color: #03A9F4;
}

.main {
  min-height: 100%;
  height: auto;
  @include center();
  font-size: 15px;
  position: relative;
}

ui-view, .main {
    width: 100%;
}

.formContainer {
    width: 80%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 40px;

    .btn {
        font-weight: bold;
    }

    .form {

        padding: 10px;
        background-color: rgba(255, 255, 255, 1);

        textarea, input {
            border: 1px solid #ddd;
            padding:5px;
            margin:5px 0;
            width: 100%;
        }

        textarea {
            resize: none;
            outline: none;
            height: 300px;
        }
    }
}

@media screen and (max-width:480px){
    .formContainer  {
        width: 100% !important;
    }
    textarea {
        height: 150px !important;
    }
    .form-group {
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
    width: 200px;
    margin: 0 auto;
    }   
}