@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

/* styles in src/style directory are applied to the whole page */
body {
  display:block !important; /*prevents flash of unstyled content when ng-cloak not working*/
}

html {
  overflow-y: hidden;
}

body {
  overflow-y: scroll;
} //makes sure html + body height: 100% covers the whole height

.hide {
    display: none;
}

body,html, app, app div {
  word-wrap: break-word;
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 100%;
}

a {
  color: #03A9F4;
}

.main {
  min-height: 100%;
  height: auto;
  @include center();
  font-size: 15px;
  position: relative;
}

ui-view, .main {
    width: 100%;
}