<div class="formContainer">
    <div ng-if="!$ctrl.isLoggedIn">
        <div>
            <h3>Login</h3>
        </div>
        <div>
            <form class='form' novalidate>
                <div class="form-group">
                    <input class = "form-control" autocomplete="off" placeholder="email" type='email' ng-model = '$ctrl.email' maxlength = "20" required/>
                </div>                
                <div class="form-group">                
                    <input class= "form-control" autocomplete="off" placeholder="password" type='password' ng-model = '$ctrl.password' maxlength = "20" required/>
                </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Forgot</button>
                        <button ng-click="$ctrl.logIn()" class='btn btn-primary'>Login</button>
                    </div>
            </form>
        </div>
        <div>
            <p class="errorMsg text-success" ng-show="addBlogForm.$submitted && addBlogForm.$valid">Your form is now valid to be submitted!</p>
            <p class="errorMsg text-danger" ng-show="addBlogForm.$submitted && addBlogForm.$invalid">Please fill in all the required fields!</p>
        </div>
    </div>
    <div ng-if="$ctrl.isLoggedIn">
        <p>You are already logged in!</p>
         <div class="btn-group">
            <button ng-click="$ctrl.goBack()" type="button" class="btn btn-primary">Back</button>
        </div>
    </div>
</div>
