<div class="formContainer">
    <div ng-if="!$ctrl.isLoggedIn">
        <div>
            <h3>Register</h3>
        </div>
        <div>
            <form class='form' novalidate name="registerForm">
                <div class="form-group">
                    <input ng-click="$ctrl.resetStatus()" class = "form-control" autocomplete="off" placeholder="display name" type='text' name = "name" ng-model = '$ctrl.name' maxlength = "20" required/>
                </div>  
                <div class="form-group">
                    <input ng-click="$ctrl.resetStatus()" class = "form-control" autocomplete="off" placeholder="email" type='email' name = "email" ng-model = '$ctrl.email' maxlength = "20" required/>
                </div>                
                <div class="form-group">                
                    <input ng-click="$ctrl.resetStatus()" class= "form-control" autocomplete="off" placeholder="password" type='password' name = "password" ng-model = '$ctrl.password' maxlength = "20" required/>
                </div>
                <div class="form-group">
                    <input ng-click="$ctrl.resetStatus()" class = "form-control" autocomplete="off" placeholder="confirm password" type='password' name="passwordConfirm" ng-model = '$ctrl.passwordConfirm' maxlength = "20" required/>
                </div>   
                    <div class="btn-group">
                        <button class="btn btn-default">Back</button>
                        <button class='btn btn-primary' ng-click = "$ctrl.register()">Register</button>
                    </div>
                    <h4 class = "text-primary" ng-if ="$ctrl.registered">Your account is registered!</h4>
            </form>
        </div>
        <div>
            <i ng-if='$ctrl.registering' class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            <p class="errorMsg text-danger" ng-if="$ctrl.error">{{$ctrl.error}}</p>
        </div>
    </div>
    <div ng-if="$ctrl.isLoggedIn">
        <p>You are already logged in!</p>
        <div class="btn-group">
            <button ng-click="$ctrl.goBack()" type="button" class="btn btn-primary">Back</button>
        </div>
    </div>
</div>
