<div>
    <button ng-click="$ctrl.blogService.goBack()" class='goBackBtn btn btn-primary'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <ul id = "blogItems" class="blogItems">
        <li ng-repeat='post in filtered = ($ctrl.blog.posts | filter: $ctrl.typeahead.searchValue)'>
          <h2>{{post.title}}<span class="new" ng-if="$ctrl.blogService.isNew(post.date)">New!</span></h2>
          <p ng-if = '$ctrl.blogService.isShort(post.description)' class="desc">{{post.description}}</p>
          <p ng-if = '!$ctrl.blogService.isShort(post.description)' class = "desc">{{$ctrl.blogService.shortened}}<span ui-sref='post({ blogId: post._id })' class="readMore">Read More</span></p>
          <p class="date"><span>{{post.name}} - </span>{{post.date}}</p>
          <div class="countsContainer">
            <span class="counts"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span> {{post.likes}}
            <span class="counts"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span> {{post.dislikes}}
            <span class="counts"><i class="fa fa-pencil" aria-hidden="true"></i></span> {{post.comments.length}}
            <span class="counts"><i class="fa fa-search" aria-hidden="true"></i></span> {{post.views}}   
          </div>
          <button ui-sref='post({ blogId: post._id })' class='btn btn-primary'>View</button>
          <button ng-if="($ctrl.user.isLoggedIn && $ctrl.user.payload.name === post.name) || $ctrl.user.payload.admin" class = 'btn btn-default' message = "Are you sure?" confirmed-click='$ctrl.deleteBlog(post._id)' type="button" confirm>Delete</button>
        </li>
      </ul>
      <p ng-if="!filtered.length && $ctrl.blog.posts.length > 0">We couldn't find any posts related to the word!</p>
</div>
