<div class='hide' id="editFormContainer">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" form-name = "editFormContainer" modal>&times;</button>
            <h3 class="modal-title">Edit a blog post</h3>
        </div>
        <div class="modal-body">
            <form class='addBlogForm' name='addBlogForm'>
                <input placeholder="write a title..." type='text' name="title" ng-model = '$ctrl.modifiedBlog.title '/>
                <textarea placeholder="write description..." type='text' name="description" ng-model ='$ctrl.modifiedBlog.description'></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" form-name = "editFormContainer" modal>Close</button>
            <button type="button" class='btn btn-danger' message = "Are you sure to reset?" confirmed-click = '$ctrl.resetForm()' confirm>Reset</button>
            <button class='btn btn-primary' ng-click = '$ctrl.handleEdit()' form-name = "editFormContainer" modal>Edit</button>
        </div>
    </div>
</div>
