<div class='hide formContainer' id = "editFormContainer">
    <div>
        <div>
            <button type="button" class="close" form-name = "editFormContainer" modal>&times;</button>
            <h3 class="modal-title">Edit a blog post</h3>
        </div>
        <div>
            <form class='form' name='addBlogForm'>
                <div class="form-group">
                    <input placeholder="write a title..." type='text' name="title" ng-model = '$ctrl.modifiedBlog.title '/>      
                </div>
                <div class="form-group">
                    <textarea placeholder="write description..." type='text' name="description" ng-model ='$ctrl.modifiedBlog.description'></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" form-name = "editFormContainer" modal>Close</button>
            <button type="button" class='btn btn-danger' message = "Are you sure to reset?" confirmed-click = '$ctrl.resetForm()' confirm>Reset</button>
            <button class='btn btn-primary' ng-click = '$ctrl.handleEdit()' form-name = "editFormContainer" modal>Edit</button>
        </div>
    </div>
</div>
