*[ui-sref]:hover {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar-inverse .navbar-right > li {
    &:hover {
        opacity: 0.5;
    }

    > a {
        color: #FFFFFF;
    }
}

.navbar-inverse .navbar-nav > li, .navbar-inverse .navbar-brand  {
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    display: block;
}

.navbar-inverse .navbar-brand  {
    &:hover {
        opacity: 0.5;
    }
}

.typeahead {
    padding:10px;
    
    input {
        font-size: 15px;
        padding: 5px;
        border: 2px white solid;
        color: #333;
    }
}

.navbar-inverse .navbar-nav > li.add {
    position: relative;
    display: block;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    
    &:hover {
        background-color: #FFFFFF;
        color: #337ab7;
    }
}

.navbar-inverse .navbar-collapse {
    background-color: #337ab7;
    border-color: #FFFFFF;
}


.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #FFFFFF;
    .icon-bar {
        background-color: #337ab7;
    }
}


.current {
    background-color: #FFFFFF;
    color: #337ab7 !important;
}

.collapse {
  transition: all linear 0.5s;
}


@media (max-width: 360px) {
    .navbar-inverse .navbar-brand  {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .typeahead input {
        width: 100%;
    }
}