<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button  type="button" class="navbar-toggle" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="navbar-brand" ui-sref="blog">JSBlog</a>
    </div>
    <div class="navbar-collapse" ng-class="{collapse: $ctrl.isCollapsed}">
      <ul class="nav navbar-nav">
        <li ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" class="add" ui-sref="addBlog">+</li>
        <li class="typeahead">
          <form ng-submit = $ctrl.handleSubmit()>
            <input uib-typeahead="title for title in $ctrl.blog.titles | filter:$viewValue | limitTo:8" type="text" placeholder="Search..." ng-model="$ctrl.searchValue">
            <input  type="submit" value="submit" 
            style="position: absolute; height: 0px; width: 0px; border: none; padding: 0px;"
            hidefocus="true" tabindex="-1"/>
        </form>
      </li>
      </ul>
      <ul ng-if="!$ctrl.user.isLoggedIn" class="nav navbar-nav navbar-right">
        <li><a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ui-sref="register"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
        <li><a ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed" ui-sref="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
      </ul>
      <ul ng-if="$ctrl.user.isLoggedIn" class="nav navbar-nav navbar-right">
        <li><a ng-click="$ctrl.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        <li ng-if="$ctrl.user.payload.admin"><a><i class="fa fa-lock" aria-hidden="true"></i> Admin</a></li>
        <li><a ui-sref="profile"><i class="fa fa-user-o" aria-hidden="true"></i> {{$ctrl.user.payload.name}}</a></li>
        <li id = "profileContainer"><a id = "profile" ui-sref="profile"><img id = "profilePic" ng-src="{{$ctrl.user.payload.pic}}"/></a></li>
      </ul>
    </div>
  </div>
</nav>

