.blogItems {
    list-style:none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    li {
        padding: 30px;
        margin: 10px;
        border: 1px solid #ddd;
    }
}

.addBlogBtn {
    position: absolute;
    right: 30px;
    z-index: 1000000;
}