.blogItems {
    list-style:none;

    a {
        color: #000000;
        text-decoration: none !important;
        
        &:hover {
            opacity: 0.5;
        }
    }
}

.addBlogBtn {
    position: absolute;
    right: 30px;
    z-index: 1000000;
}