<i ng-show='!$ctrl.blogItems' class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
<add-blog blog-items = '$ctrl.blogItems'></add-blog>
<div id = 'blogContainer' ng-show='$ctrl.blogItems'>
  <div class='form-group'>
    <span class="names">Search:</span><input placeholder='Search...' type='text' ng-model = '$ctrl.filterValue' />
    <span class="names">Sort:</span><select id = "selectOptions" ng-model="$ctrl.sortBy" ng-options="x for x in $ctrl.selectOptions"></select>
  </div>
  <button form-name = "addFormContainer" class="addBlogBtn btn btn-primary glyphicon glyphicon-pencil" modal></button>
  <ul id = "blogItems" class="blogItems">
    <li ng-repeat='item in filtered = ($ctrl.blogItems | filter: $ctrl.filterValue | orderBy: $ctrl.sortBy)'>
      <h2>{{item.title}}<span class="new" ng-show="$ctrl.isNew(item.date)">New!</span></h2>
      <p ng-show = '$ctrl.isShort(item.description)' class="desc">{{item.description}}</p>
      <p ng-show = '!$ctrl.isShort(item.description)' class = "desc">{{$ctrl.shortened}}</p>
      <p class="date"><span>{{item.name}} - </span>{{item.date}}</p>
      <div class="countsContainer">
        <span class="counts glyphicon glyphicon-search"></span> {{item.views}}
        <span class="counts glyphicon glyphicon-thumbs-up"></span> {{item.likes}}
        <span class="counts glyphicon glyphicon-thumbs-down"></span> {{item.dislikes}}
        <span class="counts glyphicon glyphicon-pencil"></span> {{item.comments.length}}
      </div>
      <button ui-sref='blogItem({ blogId: item.id })' class='btn btn-primary'>View</button>
      <button class = 'btn btn-default' message = "Are you sure?" confirmed-click='$ctrl.deleteBlog(item.id)' type="button" confirm>Delete</button>
    </li>
  </ul>
  <h3 ng-show="!filtered.length">Blog posts with that name do not exist</h3>
  <h3 ng-if='$ctrl.blogItems.length === 0'>Be the first one to write a blog post!</h3>
</div>