@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

#filteredNumber {
    font-family: serif;
    color: #443D3D;
    font-size: 12px;
    span {
        font-weight: bolder;
    }
}

#blogContainer #filteredNumber {
    padding: 15px;
}

.error-msg {
    color: #c9302c;
}

.date, .name {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    color: gray;
}

.readMore {
    font-size: 12px;
    font-weight: bold;
    color: darkgray;
    font-style: italic;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.desc {
    font-size: 15px;
    padding: 5px;
}

.names {
    padding: 5px;
    font-weight: bold;
}

#blogContainer {
    padding: 40px;
}

.countsContainer {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;

    .counts {
        margin-left: 5px;
    }
}

.blogItems {
    list-style:none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    li {
        padding: 30px;
        margin: 10px;
        border: 1px solid #ddd;
        max-width: 400px;
        min-width: 250px;
    }
}

.new {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    color: skyblue;
}

.addBlogBtn {
    position: absolute;
    right: 30px;
    top:0;
    z-index: 1000000;
}